*.suo
Intermediate/
Saved/
Content/
PoseCreator.uproject
PoseCreator.sln
PoseCreator.VC.db
PoseCreator.VC.VC.opendb
Config/
Binaries/
PoseCreator.png
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
*.png
*.psd
.vs/
